* {
    font-family: 'Franklin Gothic Light';
    
}

body {
    background-color: #e4e4ec;
}

h1, h2, h3, h4 {
    text-align: center;
    letter-spacing: 0.5px;
}

.topnav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #4A6274;
}

.topnav a {
    color: #eed1d5;
    display: block;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    color: #77aada;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.active {
    background-color: #04AA6D;
    color: white;
}

.dropbtn {
    background-color: inherit;
    color: #eed1d5;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    color: #75a6d4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: #94ACBF;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #3a72a7;
    background-color: #eed1d5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    float: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title-container {
    text-align: center;
}

.container {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    margin: 3vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 2vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 3vh;
    text-align: center;
}

.card-button {
    text-decoration: none;
    padding: 1vh;
    background-color: #4A6274;;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.card-button:hover {
    background-color: #eed1d5;
    color: #555;
}