img {
    width: 36.9vh;
    height: 24.6vh;
}

h4 {
    text-align: center;
    font-size: x-large;
}
.title-container {
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 3vh;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 2vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 40vh;
    margin: 3vh;
    text-align: center;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 8%;
    margin-top: auto;
    text-decoration: none;
    padding: 1vh;
    background-color: rgb(138, 124, 197);
    color: white;
    border: 1px solid #ddd;
    border-radius: 7px;
}

.card-button:hover {
    background-color: rgb(162, 148, 216);
}