#info-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    font-size: larger;
}


#info-block .text-block {
    margin-left: 1.5%;
    text-align: left;
    color: #191970;
    width: fit-content;
    height: fit-content;
}

#info-block h1 {
    font-size: 60px;
    font-weight: bolder;
}

#RandomJet {
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#fighterJetImage {
    width: 30%;
    align-self: center;
    height: 400px;
}

#JetButton {
    margin-top: 1%;
    justify-content: center;
    text-align: center;
}