@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: 'Manrope';
    font-weight: 600;
}



html {
    position: relative;
    height: 100%;
}

html::after {
    background-image: linear-gradient(rgb(83, 69, 144) 0%, rgb(225, 81, 10) 100%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    z-index: -1;
}

#info-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    font-size: larger;
}


#info-block .text-block {
    margin-left: 1.5%;
    text-align: left;
    color: #191970;
    width: fit-content;
    height: fit-content;
}

#info-block h1 {
    font-size: 60px;
    font-weight: bolder;
}

#info-block button {
    border: none;
    border-radius: 7px;
    background-color: rgb(144, 116, 255);
    font-size: medium;
}

#info-block button:hover {
    background-color: hsl(0, 0%, 75%);
    cursor: pointer;
}

#RandomJet {
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#fighterJetImage {
    width: 30%;
    align-self: center;
    height: 400px;
}

#JetButton {
    margin-top: 1%;
    justify-content: center;
    text-align: center;
}

#JetButton button {
    background-color: rgb(144, 116, 255);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px 8px;
    cursor: pointer;
}

#JetButton button:hover {
    background-color: rgba(144, 116, 255, 0.5);
}