.info-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}

.info-block image {
    width: fit-content;
    height: fit-content;
}

.info-block .text-block {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.interactives-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.interactives-container .calculator-container {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    margin: 5vh;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}